html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

title {

}

img {
  padding: 198px 260px 10px 263px;
  width: 273px;
  height: 93px;
}

#input {
  outline: none;
  padding: 13.5px;
  width: 550px;
  border-radius: 2px;
  border: 1px solid #dddd;
  box-shadow: 0 0.8px 0.5px 0.5px #ccc;
}

#input:hover {
  box-shadow: 0 1px 0.8px 0.8px #ccc;
}

.button {
  margin-right: 8px;
  padding: 15px 200px 15px 263px;
}

.button:hover {
  outline-color: #111;
  border-color: #111;
}

.button input {
  font-size: 13px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
  color: #777;
  padding: 10px 17px 10px 17px;
}

.button input:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #000;
}

.addition {
  padding: 15px 200px 15px 270px;
}

.addition en {
	font-size: 13px;
	text-decoration: none;

}

.addition a {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 13.5px;
	text-decoration: none;
}

.addition a:hover {
  text-decoration: underline;
}

.search {
  padding: 15px 130px 15px 112px;
}
