html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
}

title {

}

img {
  margin: 11.5% 0% 0% 42%;
  width: 16%;
}

.search {
  margin: 1.4% 30% 1% 33%;
}

.search-input {
  outline: none;
  padding: 2.2%;
  width: 88%;
  border-radius: 2px;
  border: 1px solid #dddd;
  box-shadow: 0 0.8px 0.5px 0.5px #ccc;
}

.search-input:hover {
  box-shadow: 0 1px 0.8px 0.8px #ccc;
}

.button .buttonSearch {
  margin: 1% 42% 2% 42%;
  font-size: 13px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
  color: #777;
  padding: 0.5% 1%;
  margin-right: 0.3%;
}

.button .buttonLucky {
  font-size: 13px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
  color: #777;
  padding: 0.5% 1%;

}

.button .buttonSearch:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #000;
}

.button .buttonLucky:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #000;
}

.addition {
  display: inline;
}

.addition .offered {
  padding-top: 2%;
  padding-left: 42.5%;
	font-size: 13px;
	text-decoration: none;
}

.addition .traditional {
  padding: 0% 0.3%;
  font-size: 14px;
	text-decoration: none;
}

.addition .simplified {
  padding: 0% 0.3%;
  font-size: 14px;
	text-decoration: none;
}

.addition .traditional:hover {
  text-decoration: underline;
}

.addition .simplified:hover {
  text-decoration: underline;
}
