html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

title {

}

img {
  padding: 200px 200px 10px 300px;
  width: 200px;
  height: 70px;
}

#input {
  -web-kit-appearance:none;
  -moz-appearance: none;
  outline: none;
  padding: 13px;
  width: 600px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #666;
}

.button {
  -web-kit-appearance:none;
  -moz-appearance: none;
  margin-right: 5px;
  padding: 12px 200px 12px 280px;
}

.button input {
  font-size: 13px;
  font-family: Times;
  font-weight: bold;
  color: #666;
  padding: 10px 15px 10px 15px;
}

.button input:hover {
  border: 1px;
  border-color: #111;
}

.addition {
  padding: 12px 200px 12px 290px;
}

.addition en {
	font-size: 13px;
	text-decoration: none;
}

.addition a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
	text-decoration: none;
}

.addition a:hover {
  text-decoration: underline;
}

.search {

  padding: 12px 100px 12px 90px;
}
